 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/64fe9c67/4650294/images/1ac581d842d5a6f2cf85a20f2e16dc6e55888e1af465add16ba71cab238d5c522215afcbc42249d253660eaeff039567a5ec1638b22695687a16b7_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 349px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("https://assets.nicepagecdn.com/64fe9c67/4650294/images/ca8d01f2bec55298d94c7cfb456d4d6687a67b278659ef2dfd7623dc7465d9f67a4e882ce0a31dfb689d21804dfd770bcd65102aa1ecd498cf7023_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }
} .u-section-2 {
  background-image: url("https://assets.nicepagecdn.com/64fe9c67/4650294/images/c1af675048409c8563cebecd1fcafb16d45ffa846ace1450f427cc60ca4fb106b29bfa49ebc3cac61bff505d0d255894a1f902840e04797a891c76_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 831px;
}

.u-section-2 .u-group-1 {
  min-height: 733px;
  height: auto;
  margin-top: 38px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 138px;
  height: 157px;
  margin: 38px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: -157px 75px 0 214px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 0 auto;
  padding: 0;
}

.OurImages{
  display:inline-flex;
  margin-bottom: 10%;
}



@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 483px;
  }
}